<div *ngIf="dataLoaded">
  <table class="table">
    <thead>
      <tr>
        <th>Araç Kodu</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Renk</th>
        <th>Günlük Ücret</th>
        <th>Açıklama</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ car.carId }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.dailyPrice | currency: "₺" }}</td>
        <td>{{ car.description }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="form-group row col-4">
    <label for="rentDate" class="col-5 col-form-label sizes"
      >Alış Tarihi:</label
    >
    <div class="col-7">
      <input
        class="form-control"
        type="datetime-local"
        id="rentDate"
        [(ngModel)]="rentDate"
      />
    </div>
  </div>
  <div class="form-group row col-4">
    <label for="returnDate" class="col-5 col-form-label sizes"
      >Teslim Tarihi:</label
    >
    <div class="col-7">
      <input
        class="form-control"
        type="datetime-local"
        id="returnDate"
        [(ngModel)]="returnDate"
      />
    </div>
  </div>
  <div *ngIf="dataLoaded" class="form-group row col-1"><button (click)="controlRental()" type="button" class="btn btn-succes">Kirala</button></div>
</div>

<div class="row mt-5">
  <div class="col col-4" *ngFor="let image of carImages">
    <img
      src="{{ imageBasePath }}/{{ image.imagePath }}"
      alt=""
      width="300"
      height="300"
    />
  </div>
</div>
